.cart{
    background-color: black;
}
.cartContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(235, 218, 122);
    width: 100%;
}
.letraPrecio_total{
    font-size: 25px;
}

.tituloCarrito{
    background-color: black;
    color:rgb(235, 218, 122) ;
    margin: 0px;
    padding: 25px;
}
.buttonContainer{
    background-color: black;
    padding: 20px;

}
.finalizarCompra{
    margin: 10px;
}